.add-todoInput{
  height: 50px;
  padding: 10px;
  margin-right: 5px;
  box-sizing: border-box;
}

.submit-button{
  height: 50px;
  padding: 10px;
  outline: none;
  border: none;
  background-color: rgb(17, 133, 249);
  box-sizing: border-box;
  border-radius: 3px;
  color: white;

}